/*
|---------------------------------------------------------------
| INFOBOX
|---------------------------------------------------------------
*/

.infobox {
	width: 180px; /* Set this to the width of your nav-sub section */
	margin-bottom: 20px;
	float: left;
	font-weight: bold;
	
	text-align: center;
	font-size: 95%;
	padding: .5em 0;
}

.infobox a { /* Set any overrides on the link text here - e.g. if you want the character's name to look like normal text */ }

.infobox-image-container {
	/* Set the fixed width of the area you want the image to show in.
		If you set both height and width the same, images should be cropped to fit, providing the original is larger than the set size. */
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin: 0.5em auto;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.37);
}

.infobox-image {
	/* Set the image to auto-fit the containing box */
	max-width: 100%;
	margin: auto;
}